<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devide-width, initial-scale=1" />
    <title>info y desarrolladoras</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="java.js"></script>
  </head>
  <body class="alt-body">
    <header id="header-desarrolladores">
        <nav id="nav-desarrolladores">
            <ul id="ul-desarrolladores">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="ruletayreglas.html">Ruleta y Reglas</a></li>
                <li><a href="informacion.html" class="active">Información</a></li>
            </ul>
        </nav>
    </header>
<h1 id="h1-desarrolladores">Información sobre la aplicación y desarrolladoras</h1>
    <main id="container-desarrolladores">
      <section id="app-info-desarrolladores">
        <h2 id="h2-objetivos">Objetivos de la aplicación</h2>
        <p id="p-objetivos">
          Nuestra plataforma de casino online busca principalmente ofrecer un entorno seguro y educativo, 
          donde los usuarios puedan disfrutar del divertido juego con la ruleta europea.  
          Esta plataforma fue desarrollada como proyecto semestral para la asignatura de Desarrollo Web Frontend.  
          No es una aplicación real para apuestas, sino una simulación educativa y formativa.
        </p>
      </section>

      <section id="section-team">
        <h2 id="h2-desarrolladoras">¡Conoce a las desarrolladoras!</h2>
        <div id="team-members">
          <article id="card-natali" class="member-card">
            <img src="https://i.pinimg.com/736x/67/25/e7/6725e7d6ff4bcc243955944da405ae14.jpg" alt="Foto de Natali"/>
            <h3 id="nombre-natali">Natali Zamorano</h3>
          </article>
          <article id="card-josefa" class="member-card">
            <img src="https://i.pinimg.com/736x/c7/96/8d/c7968d6dda1afb5442503a3916117bf1.jpg" alt="Foto de Josefa"/>
            <h3 id="nombre-josefa">Josefa García</h3>
          </article>
          <article id="card-francisca" class="member-card">
            <img src="https://i.pinimg.com/736x/ec/9b/f9/ec9bf9eb94a9fdaaac97abbe1100ffd6.jpg" alt="Foto de Francisca"/>
            <h3 id="nombre-francisca">Francisca Ulloa</h3>
          </article>
        </div>
      </section>
    </main>
    <footer id="footer-desarrolladores">
        <p id="p-footer">© Spin House</p>
      </footer>
  </body>
</html>
