<!DOCTYPE html>
<html>
<head>
    <title>Spin House Login</title>
    <link rel="stylesheet" href="styles.css" />
        <script src="java.js"></script>
</head>
<body id="fondo_casino">
    <div id="div_casino">
        <h2 id="inicio_sesion">¡Inicia sesion en Spin House!</h2>
        <div id="form_casino">
            <div class="input-container">
            <input type="text" id="usuario_casino" placeholder="Nombre de usuario">
            </div>
            <div class="div_casino">
    <input type="password" id="clave_oculta" placeholder="Contraseña">
    <button type="button" class="btn-ver" data-target="clave_oculta">Mostrar</button>
</div>
<button id="boton_entrar" onclick="location.href='perfil.html'">Iniciar sesión</button>
        </div>
    </div>
</body>
</html>
